/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --oswald-font: "Oswald", sans-serif;
  --barlow-font: "Barlow Condensed", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #ff4655;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --secondary-text-clr: #dddddd;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
/* ============= common css end here ================ */

/* ==================== header section css start here ================== */

/* ==================== header section css end here ================== */

/* ==================== nav section css start here ================== */

/* ==================== nav section css end here ================== */

/* ==================== banner section css start here ================== */
.banner_wraper{
  display: flex;
  gap: 30px;
}
.servic{
  height: 280px;
  width: 300px;
  background-color: #FFE8A1;
  margin-top: 30px;
}
.servic h4{
  color: #000;
  text-align: center;
  margin: -3px 0 8px;
  margin-top: 30px;
}
.servic p{
  color: #666666;
  text-align: center;
  margin: 20px 0 14px;
  font-size: 14px;
}
.search_bar input{
  margin-top: 20px;
  width: 240px;
  height: 40px;

}
.search_bar{
position: relative;
margin-left: 22px;
}
.search_bar i{
position: absolute;
top: 34px;
left: 200px;
}
.servic button{
  width: 240px;
  display: inline-block;
  background: none;
  color: #2C3A96;
  border: 2px solid #2C3A96;
  padding: 0 20px;
  margin: 20px 0 0 22px;
  height: 42px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  text-align: center;
  margin-bottom: 36px;
}
.servic button:hover{
background-color: #2C3A96;
color: #fff;
}
.banner{
margin-top: 30px;
}
.join{
width: 300px;
height: 192px;
}
.join img{
width: 100%;
object-fit: cover;
}
/* ==================== banner section css end here ================== */
