/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --poppins-font: "Poppins", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #ff4655;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --secondary-text-clr: #dddddd;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
body {
  background-color: #f2f4f8;
  font-family: var(--poppins-font);
}
/* ============= common css end here ================ */

/* ==================== header section css start here ================== */
#header {
  padding: 18px 0;
  background-color: #081621;
  width: 100%;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand_logo {
  max-width: 125px;
  max-height: 55px;
  margin-right: 20px;
}
.search_box {
  position: relative;
  width: 580px;
}
.search_box input {
  width: 100%;
  height: 42px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search_box input::placeholder {
  color: #333;
  font-weight: var(--regular-weight);
  font-size: 15px;
  line-height: normal;
  text-transform: capitalize;
}
.search_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}
.header_item_wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-transform: capitalize;
}
.header_item_icon i {
  font-size: 24px;
  color: rgb(239, 74, 35);
}
.header_item_name_wrapper h4 {
  color: var(--white-clr);
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 5px;
}
.header_item_name_wrapper h5,
.header_item_wrapper .login {
  color: rgb(131, 131, 131);
  font-size: 11px;
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header_item_wrapper .login:hover {
  color: #ff4655;
}
.header_btn {
  font-size: 16px;
  color: var(--white-clr);
  padding: 15px 20px;
  font-weight: 700;
  background-color: #3749ba;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ==================== header section css end here ================== */

/* ==================== nav section css start here ================== */

/* ==================== nav section css end here ================== */

/* ==================== banner section css start here ================== */

/* ==================== banner section css end here ================== */
/* ==================== service section css start here ================== */
#service {
  padding: 30px 0;
}
.service_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service_item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--white-clr);
}
.service_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--white-clr);
  background-color: #ef4a23;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
.service_name_wrapper h4 {
  color: var(--black-clr);
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--bold-weight);
}
.service_name_wrapper h5 {
  color: #444;
  font-size: 15px;
  line-height: 26px;
}

/* ==================== service section css end here ================== */
/* ==================== notice section css start here ================== */
#notice {
  padding-bottom: 30px;
}
.notice_box_wrapper {
  padding: 12px 20px 8px;
  background: #fff;
  border-radius: 33px;
  font-size: 14px;
  color: #444;
  min-height: 40px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
}
/* ==================== notice section css end here ================== */
/* ==================== category section css start here ================== */
#category {
  padding: 30px 0;
}
.category_section_wrapper {
  text-align: center;
}
.common_section_heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: var(--bold-weight);
  color: var(--black-clr);
  margin-bottom: 10px;
}
.common_section_sub_heading {
  font-size: 15px;
  line-height: 26px;
  font-weight: var(--regular-weight);
  color: #01132d;
  margin-bottom: 30px;
}
.category_item_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.category_item {
  width: 150px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.category_icon{
  font-size: 42px;
  padding: 15px;
}
.category_item_name{
    font-size: 15px;
    color: #01132D;
    line-height: 26px;
    font-weight: var(--regular-weight);
}
/* ==================== category section css end here ================== */
